<ul class="nav nav-pills pull-right" ng-controller="NavCtrl">
  <li class="active"><a ng-href="#">Home</a></li>
  <li><a ng-href="#/about">About</a></li>
  <li ng-show="!signedIn()"><a ng-href="#/login">Login</a></li>
  <li ng-show="!signedIn()"><a ng-href="#/register">Register</a></li>
  <li ng-show="signedIn()">
    <a href="#/users/{{ currentUser.username }}">
      <img ng-src="http://www.gravatar.com/avatar/{{ currentUser.md5_hash }}" class="nav-pic" />
      {{ currentUser.username }}
    </a>
  </li>
  <li ng-show="signedIn()">
    <a href="#" ng-click="logout()">Logout</a>
  </li>
</ul>
