<div class="row">
  <h2>Meal Schedule</h2>
</div>
<div class="row" ng-repeat="day in days">
  <h3>{{day.$value}}</h3>
  <div class="row" ng-repeat="recipe in dayRecipes[day.$id]">
    <div class="col-md-10 col-xs-12">
      <a href="#/recipes/{{ recipe.$id }}">
        {{ recipe.$value }}
      </a>
      <a ng-click="removeRecipe(day.$id, recipe.$id)">remove</a>
    </div>
    <div class="col-md-2">

    </div>
  </div>
  <span  class="nullable">
    <select ng-model="rec[day.$id]" ng-change="recipeSelected(day.$id)">
      <option value="">-- choose recipe --</option>
      <option ng-repeat="r in allRecipes" value="{{r.$id}}|{{r.title}}">{{r.title}}</option>
    </select>
  </span>
</div>
