<div class="row" ng-show="signedIn()">
  <div class="col-xs-12">
    <h2>{{recipe.title}}</h2>
    <a ng-click="deleteRecipe(recipe)" ng-show="signedIn()">
      <span class="glyphicon glyphicon-remove">
    </a>
    <a href="#/recipes/{{ recipe.$id }}/edit" ng-show="signedIn()">
      <span class="glyphicon glyphicon-pencil"></span>
    </a>
  </div>
  <div class="col-xs-12">
    <h4>Ingredients</h4>
    <p ng-repeat="ingredient in recipeIngredients">
      {{ ingredient.$value }}
    </p>
  </div>
  <div class="col-xs-12">
    <h4>Instructions</h4>
    <p>
      {{recipe.instructions}}
    </p>
  </div>
</div>
